html, body{
  height:100%;
  margin:0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* 想起問題 */
#question {
  width: 80%;
  font-size: 24px;
  text-align: center;
  word-break: break-word;
}

/* 画像問題 */
.slide-img {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 6px;
}

/* タイピング問題 */
#typing {
  min-width: 40%; 
  font-size: 48px;
  text-align: right;
  white-space: nowrap;
}

/* 右上：進捗 */
#progress {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

/* ボタン共通 */
.btn {
  position: fixed;
  padding: 5px 10px;
  font-size: 8px;
}

/* 左上 */
#answBtn {
  left: 10px;
  top: 10px;
}

/* 左上2個目 */
#shctBtn {
  left: 48px;
  top: 10px;
}

#navSelect {
  position: absolute;
  left: 48px;
  top: 17px;
  width: 18px;
}

/* 左下 */
#prevBtn {
  left: 10px;
  bottom: 10px;
}

/* 右下 */
#nextBtn {
  right: 10px;
  bottom: 10px;
}
