html, body{
  height:100%;
  margin:0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* 問題文（中央） */
#question {
  width: 80%;
  font-size: 24px;
  text-align: center;
  word-break: break-word;
}

/* 右上：進捗 */
#progress {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

/* ボタン共通 */
.btn {
  position: fixed;
  padding: 5px 10px;
  font-size: 8px;
}

/* 左上 */
#ansBtn {
  left: 10px;
  top: 10px;
}

/* 左下 */
#prevBtn {
  left: 10px;
  bottom: 10px;
}

/* 右下 */
#nextBtn {
  right: 10px;
  bottom: 10px;
}
